<!-- # “This is a course requirement for CS 192 Software Engineering II
# under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the
# Department of Computer Science, College of Engineering,
# University of the Philippines, Diliman for the AY 2015-2016”.

# Julian Troy C. Valdez

#  Code History:
# Initial Code Authored by: Julian Troy C. Valdez
#
#  File Creation Date: (Sprint 2) 2/17/2018 to 2/18/2018
#      Development Group: Group 1
#      Client Group: CS 192 Class
#      Purpose of File: Temporary html view for the add new rating page -->

<h1> New rating </h1>

<% if flash[:errors] %>
     <% flash[:errors].each do |error| %>
          <p><%= error %></p>
     <% end %>
<% end %>

<form action="/user" method='post'>
     <input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>'>
     <input type="hidden" name="user[foodstoreid]" value='<%= @fid %>'>
     <p>
          <label>food_quality</label>
          <input type='text' name='user[foodquality]'>
     </p>
     <p>
          <label>pricing</label>
          <input type='text' name='user[pricing]'>
     </p>
     <p>
          <label>service</label>
          <input type='text' name='user[service]'>
     </p>
     <p>
          <label>ambience</label>
          <input type='text' name='user[ambience]'>
     </p>
     <p>
          <label>comment</label>
          <input type='text' name='user[comment]'>
     </p>

     <input type='submit' value="Create">

</form>
